body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

header nav {
  border-bottom: 1px solid #e7852b;
  box-shadow: 0px 4px 4px 0px #e7852b21;
}
.logo {
  font-family: "Poppins";
  font-size: 24px;
  display: flex;
  flex-direction: column;
  font-weight: 700;

}
.menu a {
  text-decoration: none;
  color: black;
  font-family: "Inter";
  font-weight: 700;
}

.menu a:hover {
  background-color: #e7852b;
  color: white;
  border-radius: 8px;
}

.menu {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  height: 50%;
  padding-top: 20px;
}

span {
  color: #e7852b;
}

.orange-auto {
  flex: 1;
  height: 687px;
  overflow: hidden;
  position: relative;
  display: flex;
}

button {
  padding: 16px 32px;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid black;
  background-color: transparent;
}

.btn-orange {
  background-color: #e7852b;
  border: none;
  color: white;
}

.hero-section1 {
  text-align: center;
  padding: 110px 50px;
}

.hero-section1 p {
  color: #e7852b;
  font-size: 32px;
  font-weight: 600;
}

.hero-section1 h1 {
  font-size: 82px;
  font-weight: 600;
  font-family: "Poppins";
}

.section-one {
  display: flex;
  justify-content: space-evenly;
}

.paragrafas p {
  background-color: #e7852b;
  padding: 30px 300px;
  color: white;
  gap: 8px;
  margin: 0;
  font-family: "Inter";
}

.auto-photo img {
  width: 364px;
  height: 232px;
}

.cars-section {
  border-radius: 16px;
  padding: 80px 30px;
  gap: 20px;
  background-color: #ffffff;
  box-shadow: 4px 4px 5px 0px #00000026;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cars-list {
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fefefe;
}

.car-action {
  color: white;
  background-color: #e7852b;
  border: none;
}

.cars-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.cars-btn button {
  flex-grow: 1;
  font-weight: 600;
  font-size: 16px;
}

.car-price {
  background-color: #f4caa4;
  width: 100%;
  font-weight: bold;
  font-size: 25px;
  padding: 8px 32px;
  gap: 5px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.car-price span {
  color: #5b310b;
  font-weight: 400;
  font-size: 25px;
}

h2 {
  padding: 0 130px;
  font-size: 48px;
  font-weight: 700;
}

.text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: #777777;
  width: 50%;
  padding: 20px;
}

.nuorodos-1 {
  font-weight: 600;
  font-family: "Poppins";
}

h3 {
    font-size: 16px;
}

.Nuorodos a {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  text-decoration: none;
}

.nuorodos-contacts {
   width: 50%;
   padding: 20px;
}

.mob-number a {
  color: #e7852b;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 24px;
}

.email a {
  color: #e7852b;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 24px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
  padding: 80px 150px;
  border: 2px solid #f6f6f6;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.Nuorodos {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
  gap: 10px;
  width: 100%;
}
.contacts {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.nuorodos-contacts {
    display: flex;
    flex-direction: row;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cars-section {
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
    width: calc(50% - 85px);
    height: auto;
  }
  .paragrafas p {
    text-align: left;
    margin: 0 auto;
    width: 50%;
  }
  .paragrafas {
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
  }
  .cars-list {
    display: flex;
  }

  .hero-section1 {
    order: 2;
  }

  .section-one {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .hero-section2 {
    flex-direction: row-reverse;
  }
  .logo {
    padding: 10px;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .text {
    width: 100%;
  }
  .contacts p {
    flex: 1;
  }
  .nuorodos-contacts {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cars-btn {
    flex-direction: column;
  }
  .car-price {
    background-color: transparent;
  }
}

@media (max-width: 768px) {
  .section-one, .cars-section {
    flex-direction: column;
  }
  .hero-section1 {
    order: 2;
  }
  .paragrafas p {
    padding: 10px;
  }
  h2 {
    padding: 0;
    text-align: center;
  }
  .footer {
    padding: 10px;
    flex-direction: column;
  }
  .cars-btn {
    flex-direction: column;
  }

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.menu {
    justify-content: space-evenly;
    
}
.logo {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 20px;
}
.btn-orange {
    width: 100%;
    margin: 10px;

}
button {
    width: 100%;
    margin: 10px;
    
}
.nuorodos-contacts {
    flex-direction: column;
    justify-content: left;
    width: 100%;
}
.Nuorodos {
 padding: 20px;
}
.contacts {
    padding: 20px;
}
.car-price {
background-color: transparent;
}
}

